.dp-resume-container{
  display: flex;
  margin: 10px;
}
.dp-resume-wrapper{
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px aqua;
  padding: 10px;
  background-color: whitesmoke;
}

@media (max-width: 768px) {
  
  .dp-resume-wrapper{
    display: flex;
    flex-direction: column;
  }
  .dp-resume__professional-summery{
    display: flex;
    order: 1;
  }
  .dp-resume__education{
    display: flex;
    order: 3;
  }
  .dp-resume__certificate{
    display: flex;
    order: 4;
  }
  .dp-resume__experienec{
    display: flex;
    order: 2;
  }
  .dp-resume__project{
    display: flex;
    order: 5;
  }
}